/* Ajuste do Box Model pra TUDO */
*, *::after, *::before { box-sizing: border-box; }

/* Tornando as imagens responsivas */
img { max-width: 100%; }

html {
    font-size: 14px;
}

body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a { text-decoration: none; }

h1, nav { text-transform: uppercase; }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

h1 a {
    color: white;
    background-color: black;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

header .limitador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.limitador {
    max-width: 1100px;
    width: 95vw;
    margin: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav {
    width: 65%;
    /* background: tomato; */
}

nav h2 {
    text-align: right;
}

.icone {
    font-size: 1.2rem;
    padding: 1rem;
    height: 50px;
    display: inline-block;
}

h2 a {
    color: black;
}


.menu a { /* ou: nav li a  */
    color: black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.menu a:hover, .menu a:active {
    background-color: gainsboro;
}

/* Esta classe será manipulada via JS */
.menu-aberto {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}



/* Section com a classe destaque */
.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 90vh;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque h2 {
    font-size: clamp(2rem, 8vw, 7rem);  /* clamp(min, ideal, max); */
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.destaque p {
    font-size: clamp(1.6rem, 2vw, 4rem);  /* clamp(min, ideal, max); */
    animation: fadeIn 1.5s 1s backwards;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}


.front-end, .localizacao {
    text-align: center;
}

section h2 {
    text-align: center;
    padding: 1rem;
}

section p {
    padding: 0.5rem 0;
}

figure {
    text-align: center;
    margin: 1rem 0;
}


.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 1rem;
}

.historia h2 {
    color: #fff;
    text-shadow: black 1px 1px 2px;
}

iframe {
    width: 100%;
    border: none;
}

.historia iframe { 
    max-width: 800px; 
}

footer {
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 14vh;
    display: flex;
    align-items: center;
}

.conteudo{
    background-color: whitesmoke;
    padding: 0.7 rem;
}




/* Media queries */
@media screen and (min-width: 600px) {
    .icone { 
        display:  none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu a {
        padding: 0 1rem;
    }

}

/* código que será interpretado apenas em telas 800px + */
@media screen and (min-width: 800px) {
    html { 
        font-size: 18px;
    }
    header .limitador {
         height: 15vh; 
    }
    
    .destaque { 
        height: 85vh; 
    }
}




