*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body, h1, h2, h3, p, figure{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figure, img{
    max-width: 100vw;
}
