*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body, h1, h2, h3, p, figure{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, nav{
    text-transform: uppercase;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}
h1 a{
    color: white;
    background: black;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
figure, img{
    max-width: 100%;
}
header{
    background-color: white;
    position: sticky;
    top: 0;
}
header .limitador{
    display: flex;
    justify-content: space-between;
    height: 5vh;
}
nav{
    display: none;
}
